.hero{
    height: 100%;
    position: relative;
    background-color: hsl(0, 0%, 85%,.4);
    &__img{
        position: absolute;
        width: 32rem;
        left: 50%;
        top: 70px;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0.5;
    }

    &__div{
        padding: 6rem 0;
        text-align: center;
        &--heading1{
            color: #DD2B2B;
            font-size: 2.5rem;
            font-weight: 500;
        }

        &--heading2{
            font-size: 7.5rem;
            font-weight: 800;
        }

        &--para{
            font-size: 1rem;
            text-align: center;
            width: 70%;
            margin: auto;
        }
    }

    &__social{
        position: relative;
        color: #DD2B2B;
        &--face{
            position: absolute;
            left: 0;
            bottom: 0;

        }
        .line-vert{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                width: 2px;
                height: 100px;
                background: #000;
                opacity: 30%;
            }
        }
    }


}


.heroSection-container{
    &--contact{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
}