<section class="container">
    <div class="row">
        <div class="col-lg-6 col-12">

        </div>
        <div class="col-lg-6 col-12">
            <p>ZSghseilugh</p>
            <h2>sehfwioefh <span class="text-muted">aes;elhgweo;igjhweoigwsgio</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, odit.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam non eos corporis dignissimos dolorum impedit tempore culpa mollitia blanditiis id, velit, perferendis hic sapiente sunt magni nihil in placeat pariatur?</p>
        </div>
    </div>
</section>