<section class="hero">
    <img class="hero__img" src="./assets/svgs/mainlogo.svg" alt="" />
    <div class="hero__div">
      <h2 class="hero__div--heading1">AUTHENTIC SUSHI</h2>
      <h3 class="hero__div--heading2">OMAKASE</h3>
      <p class="hero__div--para">
        Experience the finest sushi crafted by our expert chefs, with every piece tailored to your taste.
      </p>
      <div class="hero__div-buttons">
        <button class="btn">BOOK A TABLE</button>
        <button class="btn">VIEW MENU</button>
      </div>
    </div>
    <div class="relative hero__social">
        <div class="hero__social--face">
           <div class="line-vert"></div>
            <p>face</p>
            <p>face</p>
            <p>face</p>
        </div>
    </div>
  </section>