<section class="container">
  <div class="row" style="margin-top: 1.5rem;">
    <div class=" overflow-hidden col-lg-4 col-md-12">
      <img src="../assets/svgs/Rectangle 1.svg" alt="" height="500" width="400"
        style="height: 22rem; width: 35rem; margin-top: 8rem;" />
    </div>
    <div class=" text-light col-lg-8 col-md-12 p-8" style="height: 38rem; background-color: #1a1a1a; padding: 2rem;">
      <div class="border-light" style="height: 100%; border: 1px solid white; padding: 1rem;">
        <h2>BEVERAGE</h2>
        <div class="row beverage_list">
          <div class="col-lg-6 col-md-12 d-flex">
            <div class="">
              <h3>apple juice</h3>
              <p>smoothee</p>
            </div>
            <p>$44545.4</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="container">
  <div class="row flex-row-reverse" style=" margin-top: 1.5rem;">
    <div class="overflow-hidden col-lg-4  col-md-12">
      <img src="../assets/svgs/Rectangle 1.svg" alt="" height="500" width="400"
        style="height: 22rem; width: 35rem; margin-top: 8rem;" />
    </div>
    <div class=" text-light col-lg-8 col-md-12 p-8" style="height: 38rem; background-color: #1a1a1a; padding: 2rem;">
      <div class="border-light" style="height: 100%; border: 1px solid white; padding: 1rem;">
        <h2>BEVERAGE</h2>
        <div class="row food_list">
          <div class="col-lg-6 col-md-12 d-flex">
            <div class="">
              <h3>apple juice</h3>
              <p>smoothee</p>
            </div>
            <p>$44545.4</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="container">
  <div class="row" style="margin-top: 1.5rem; margin-bottom: 1rem;">
    <div class="overflow-hidden col-lg-4 col-md-12">
      <img src="../assets/svgs/Rectangle 1.svg" alt="" height="500" width="400"
        style="height: 22rem; width: 35rem; margin-top: 8rem;" />
    </div>
    <div class=" text-light col-lg-8 col-md-12 p-8" style="height: 38rem; background-color: #1a1a1a; padding: 2rem;">
      <div class="border-light" style="height: 100%; border: 1px solid white; padding: 1rem;">
        <h2>BEVERAGE</h2>
        <div class="row dessert_list">
          <div class="col-lg-6 col-md-12 d-flex">
            <div class="">
              <h3>apple juice</h3>
              <p>smoothee</p>
            </div>
            <p>$44545.4</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>